/* Commond shered style */
body {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

/* style for Navigation menu */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

}

nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
 
}
.nav-title{
    font-weight: 800px;
    color: #000000;
    
    font-size: 45px;
}
nav a{
    text-decoration: none;
    color: rgb(60, 59, 59);
}

/* shere primary style */

.orenge-mama{
    color: #FD6E0A;
}
.button-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    height: 60px;
    width: 150px;
    border: none;
    font-size: 20px;
    color: aliceblue;

}

/* nav related style done */

/* header related style start from here */
header{
    background-color: #FFF8F3;
    background-image: url(/portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width:500px;
}
.profile-pic{
   width: 500px; 
}
.banner-greeting{
    font-size: 45px;
}
.banner-name{
    font-size: 85px;
    font-weight: 700;

}
/* main section syle */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
}
/* about section style */
.about{
    background-color: rgb(255, 248, 243);
    padding: 131px;
    border-radius: 20px;
    margin: 130px 0;
}
.section-title{
color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align: center;
}
.section-dis{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.about-info-container{
display: flex;
justify-content:space-around;
}
.about-info{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.about-info-title{
color: rgb(117, 117, 117);
}
.about-info-dis{
color: rgb(71, 71, 71);
}
#what-i-do-dis{
    padding: 30px 150px;
}

/* Exprience section style start from here */


.exprience{
    display: flex;
    justify-content: space-around;
}
.exprience-item{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin: 24px;
}
.exprience-title{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
}
.exprience-item-dis{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
}

/* Resume  styles start from here */
.resume{
   
}
.edu-exp{
    display:flex;
    gap: 50px;
}
.edu-exp hr{
    margin: 30px;
}
.resume-title{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700; 
}

.edu-ex-title{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.edu-ex-duration{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}
.edu-ex-dis{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
}
.down-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style start from here */
footer{
    display: flex;
    background-color: rgb(255, 248, 243);
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.footer-colum{
    width: 50%;
    text-align: left;
}
.footer-section-title{
    color: rgb(24, 24, 24);
    font-size: 30px;
    font-weight: 700;
}
.footer-section-dis{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
}
.social-media a {
    margin-right: 20px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 13px 30px;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}
